.redirect-page {
  height: 78vh;
  margin: auto;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 900px;
}
.redirect-page img {
  width: clamp(200px, 50%, 400px);
}

.redirect-page p {
  font-size: var(--fs-m);
  font-weight: 600;
}
